name: Continuous Integration

on: pull_request

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
      - name: Setup Flutter environment
        uses: subosito/flutter-action@v2.21.0
        with:
          channel: stable
          cache: true
      - name: Install dependencies
        run: flutter pub get
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .
      - name: Analyze code
        run: flutter analyze
